<div class="navbar-fixed" materialize>
  <nav class="servicorp-primary-color">
    <div class="nav-wrapper">
      <a materialize="sideNav" data-activates="slide-out" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
      <a class="brand-logo center-on-small-only" routerLink="/dashboard/"><img class="responsive-img" src="../../../assets/images/servicorp-logo.png"><i class="material-icons right">user</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a materialize="dropdown" class="dropdown-button" data-activates="reportes" data-hover="true" data-beloworigin="true">Reportes<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a materialize="dropdown" class="dropdown-button" data-activates="usuarios" data-hover="true" data-beloworigin="true">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a (click)="logout()"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="usuarios" class="dropdown-content">
  <li><a class="light-blue-text text-darken-4" routerLink="/dashboard/usuarios">Ver Usuarios</a></li>
  <li *ngIf="getUserType() === 'superadmin'"><a class="light-blue-text text-darken-4" routerLink="/dashboard/crear-usuario">Crear Usuario</a></li>
</ul>

<ul id="reportes" class="dropdown-content">
  <li><a class="light-blue-text text-darken-4" routerLink="/dashboard/reportes">Reportes por categoría</a></li>
  <li><a class="light-blue-text text-darken-4" routerLink="/dashboard/imagenes">Descarga de Imágenes</a></li>
</ul>

<ul id="slide-out" class="side-nav">
  <li class="center">
    <div class="user-view servicorp-primary-color">
      <a href="#!user"><img class="responsive-img" src="../../../assets/images/servicorp-logo.png"></a>
    </div>
  </li>
  <li><a routerLink="/dashboard">Dashboard</a></li>
  <li><a class="dropdown-button" data-activates="reportes" data-hover="true" data-beloworigin="true">Reportes<i class="material-icons right">arrow_drop_down</i></a></li>
  <li><a class="dropdown-button" data-activates="usuarios" data-hover="true" data-beloworigin="true">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>
  <li><a (click)="logout()" routerLink="/login"><i class="material-icons right">exit_to_app</i>Salir</a></li>
</ul>
