<div class="navbar-fixed">
  <nav class="light-blue darken-4">
    <div class="nav-wrapper">
      <a class="brand-logo"routerLink="/dashboard"><img src="../../../assets/images/servicorp-logo.png"><i class="material-icons right">user</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a class="dropdown-button" data-activates="reportes" data-hover="true" data-beloworigin="true">Reportes<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" data-activates="usuarios" data-hover="true" data-beloworigin="true">Usuarios<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a (click)="logout()" routerLink="/login"><i class="material-icons right">exit_to_app</i>Salir</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="usuarios" class="dropdown-content">
  <li><a class="light-blue-text text-darken-4" routerLink="/usuarios">Ver Usuarios</a></li>
  <li><a class="light-blue-text text-darken-4" routerLink="/crear-usuario">Crear Usuario</a></li>
</ul>

<ul id="reportes" class="dropdown-content">
  <li><a class="light-blue-text text-darken-4">Reportes por categoría</a></li>
  <li><a class="light-blue-text text-darken-4">Imágenes por día</a></li>
</ul>