<img src="../../../assets/images/error-404_2.png" class="col s12 responsive-img">
<div class="container row">
  <div class="col s12 center">
    <h3 class="purple-text text-darken-2"><strong>PÁGINA NO ENCONTRADA</strong></h3>
    <h5 class="purple-text text-darken-2">¡LO SENTIMOS! LA PÁGINA QUE BUSCAS NO SE HA ENCONTRADO EN ESTE SERVIDOR. PUEDE DEBERSE A QUE LA DIRECCIÓN SE HA ESCRITO INCORRECTAMENTE O A QUE LA PÁGINA HA SIDO CANCELADA. REVISA LA DIRECCIÓN URL E INTÉNTALO DE NUEVO.</h5>
  </div>
</div>