<div class="container">
  <div class="card">
    <div class="card-panel light-blue darken-4 title">
      <div class="row">
        <h5 class="white-text col">Categoría: </h5>
        <div class="input-field col">
          <select materialize="material_select" class="white">
            <option [value]="categoria">Mantención HFC</option>
            <option [value]="categoria">Mantención DTH</option>
            <option [value]="categoria">Instalación HFC</option>
            <option [value]="categoria">Instalación DTH</option>
            <option [value]="categoria">Desconexión</option>
          </select>
        </div>
        <h5 class="white-text col">Día: </h5>
        <div class="input-field col">
          <input type="text" class="datepicker white center" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
        </div>
      </div>
    </div>
    <div class="card-content scroll">
      <table class="striped">
        <thead>
          <tr>
            <th>pregunta 1</th>
            <th>pregunta 2</th>
            <th>pregunta 3</th>
            <th>pregunta 4</th>
            <th>pregunta 5</th>
            <th>pregunta 6</th>
            <th>pregunta 7</th>
            <th>pregunta 8</th>
            <th>pregunta 9</th>
            <th>pregunta 10</th>
            <th>pregunta 11</th>
            <th>pregunta 12</th>
            <th>pregunta 13</th>
            <th>pregunta 14</th>
            <th>pregunta 15</th>
            <th>pregunta 16</th>
            <th>pregunta 17</th>
            <th>pregunta 18</th>
            <th>pregunta 19</th>
            <th>pregunta 20</th>
            <th>pregunta 21</th>
            <th>pregunta 22</th>
            <th>pregunta 23</th>
            <th>pregunta 24</th>
            <th>pregunta 25</th>
            <th>pregunta 26</th>
            <th>pregunta 27</th>
            <th>pregunta 28</th>
            <th>pregunta 29</th>
            <th>pregunta 30</th>
            <th>pregunta 31</th>
            <th>pregunta 32</th>
            <th>pregunta 33</th>
            <th>pregunta 34</th>
            <th>pregunta 35</th>
            <th>pregunta 36</th>
            <th>pregunta 37</th>
            <th>pregunta 38</th>
            <th>pregunta 39</th>
            <th>pregunta 40</th>
            <th>pregunta 41</th>
            <th>pregunta 42</th>
            <th>pregunta 43</th>
            <th>pregunta 44</th>
            <th>pregunta 45</th>
            <th>pregunta 46</th>
            <th>pregunta 47</th>
            <th>pregunta 48</th>
            <th>pregunta 49</th>
            <th>pregunta 50</th>
            <th>pregunta 51</th>
            <th>pregunta 52</th>
            <th>pregunta 53</th>
            <th>pregunta 54</th>
            <th>pregunta 55</th>
            <th>pregunta 56</th>
            <th>pregunta 57</th>
            <th>pregunta 58</th>
            <th>pregunta 59</th>
            <th>pregunta 60</th>
            <th>pregunta 61</th>
            <th>pregunta 62</th>
            <th>pregunta 63</th>
            <th>pregunta 64</th>
            <th>pregunta 65</th>
            <th>pregunta 66</th>
            <th>pregunta 67</th>
            <th>pregunta 68</th>
            <th>pregunta 69</th>
            <th>pregunta 70</th>
            <th>pregunta 71</th>
            <th>pregunta 72</th>
            <th>pregunta 73</th>
            <th>pregunta 74</th>
            <th>pregunta 75</th>
            <th>pregunta 76</th>
            <th>pregunta 77</th>
            <th>pregunta 78</th>
            <th>pregunta 79</th>
            <th>pregunta 80</th>
            <th>pregunta 81</th>
            <th>pregunta 82</th>
            <th>pregunta 83</th>
            <th>pregunta 84</th>
            <th>pregunta 85</th>
            <th>pregunta 86</th>
            <th>pregunta 87</th>
            <th>pregunta 88</th>
            <th>pregunta 89</th>
            <th>pregunta 90</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>respuesta 1</th>
            <th>respuesta 2</th>
            <th>respuesta 3</th>
            <th>respuesta 4</th>
            <th>respuesta 5</th>
            <th>respuesta 6</th>
            <th>respuesta 7</th>
            <th>respuesta 8</th>
            <th>respuesta 9</th>
            <th>respuesta 10</th>
            <th>respuesta 11</th>
            <th>respuesta 12</th>
            <th>respuesta 13</th>
            <th>respuesta 14</th>
            <th>respuesta 15</th>
            <th>respuesta 16</th>
            <th>respuesta 17</th>
            <th>respuesta 18</th>
            <th>respuesta 19</th>
            <th>respuesta 20</th>
            <th>respuesta 21</th>
            <th>respuesta 22</th>
            <th>respuesta 23</th>
            <th>respuesta 24</th>
            <th>respuesta 25</th>
            <th>respuesta 26</th>
            <th>respuesta 27</th>
            <th>respuesta 28</th>
            <th>respuesta 29</th>
            <th>respuesta 30</th>
            <th>respuesta 31</th>
            <th>respuesta 32</th>
            <th>respuesta 33</th>
            <th>respuesta 34</th>
            <th>respuesta 35</th>
            <th>respuesta 36</th>
            <th>respuesta 37</th>
            <th>respuesta 38</th>
            <th>respuesta 39</th>
            <th>respuesta 40</th>
            <th>respuesta 41</th>
            <th>respuesta 42</th>
            <th>respuesta 43</th>
            <th>respuesta 44</th>
            <th>respuesta 45</th>
            <th>respuesta 46</th>
            <th>respuesta 47</th>
            <th>respuesta 48</th>
            <th>respuesta 49</th>
            <th>respuesta 50</th>
            <th>respuesta 51</th>
            <th>respuesta 52</th>
            <th>respuesta 53</th>
            <th>respuesta 54</th>
            <th>respuesta 55</th>
            <th>respuesta 56</th>
            <th>respuesta 57</th>
            <th>respuesta 58</th>
            <th>respuesta 59</th>
            <th>respuesta 60</th>
            <th>respuesta 61</th>
            <th>respuesta 62</th>
            <th>respuesta 63</th>
            <th>respuesta 64</th>
            <th>respuesta 65</th>
            <th>respuesta 66</th>
            <th>respuesta 67</th>
            <th>respuesta 68</th>
            <th>respuesta 69</th>
            <th>respuesta 70</th>
            <th>respuesta 71</th>
            <th>respuesta 72</th>
            <th>respuesta 73</th>
            <th>respuesta 74</th>
            <th>respuesta 75</th>
            <th>respuesta 76</th>
            <th>respuesta 77</th>
            <th>respuesta 78</th>
            <th>respuesta 79</th>
            <th>respuesta 80</th>
            <th>respuesta 81</th>
            <th>respuesta 82</th>
            <th>respuesta 83</th>
            <th>respuesta 84</th>
            <th>respuesta 85</th>
            <th>respuesta 86</th>
            <th>respuesta 87</th>
            <th>respuesta 88</th>
            <th>respuesta 89</th>
            <th>respuesta 90</th>
          </tr>
          <tr>
            <th>respuesta 1</th>
            <th>respuesta 2</th>
            <th>respuesta 3</th>
            <th>respuesta 4</th>
            <th>respuesta 5</th>
            <th>respuesta 6</th>
            <th>respuesta 7</th>
            <th>respuesta 8</th>
            <th>respuesta 9</th>
            <th>respuesta 10</th>
            <th>respuesta 11</th>
            <th>respuesta 12</th>
            <th>respuesta 13</th>
            <th>respuesta 14</th>
            <th>respuesta 15</th>
            <th>respuesta 16</th>
            <th>respuesta 17</th>
            <th>respuesta 18</th>
            <th>respuesta 19</th>
            <th>respuesta 20</th>
            <th>respuesta 21</th>
            <th>respuesta 22</th>
            <th>respuesta 23</th>
            <th>respuesta 24</th>
            <th>respuesta 25</th>
            <th>respuesta 26</th>
            <th>respuesta 27</th>
            <th>respuesta 28</th>
            <th>respuesta 29</th>
            <th>respuesta 30</th>
            <th>respuesta 31</th>
            <th>respuesta 32</th>
            <th>respuesta 33</th>
            <th>respuesta 34</th>
            <th>respuesta 35</th>
            <th>respuesta 36</th>
            <th>respuesta 37</th>
            <th>respuesta 38</th>
            <th>respuesta 39</th>
            <th>respuesta 40</th>
            <th>respuesta 41</th>
            <th>respuesta 42</th>
            <th>respuesta 43</th>
            <th>respuesta 44</th>
            <th>respuesta 45</th>
            <th>respuesta 46</th>
            <th>respuesta 47</th>
            <th>respuesta 48</th>
            <th>respuesta 49</th>
            <th>respuesta 50</th>
            <th>respuesta 51</th>
            <th>respuesta 52</th>
            <th>respuesta 53</th>
            <th>respuesta 54</th>
            <th>respuesta 55</th>
            <th>respuesta 56</th>
            <th>respuesta 57</th>
            <th>respuesta 58</th>
            <th>respuesta 59</th>
            <th>respuesta 60</th>
            <th>respuesta 61</th>
            <th>respuesta 62</th>
            <th>respuesta 63</th>
            <th>respuesta 64</th>
            <th>respuesta 65</th>
            <th>respuesta 66</th>
            <th>respuesta 67</th>
            <th>respuesta 68</th>
            <th>respuesta 69</th>
            <th>respuesta 70</th>
            <th>respuesta 71</th>
            <th>respuesta 72</th>
            <th>respuesta 73</th>
            <th>respuesta 74</th>
            <th>respuesta 75</th>
            <th>respuesta 76</th>
            <th>respuesta 77</th>
            <th>respuesta 78</th>
            <th>respuesta 79</th>
            <th>respuesta 80</th>
            <th>respuesta 81</th>
            <th>respuesta 82</th>
            <th>respuesta 83</th>
            <th>respuesta 84</th>
            <th>respuesta 85</th>
            <th>respuesta 86</th>
            <th>respuesta 87</th>
            <th>respuesta 88</th>
            <th>respuesta 89</th>
            <th>respuesta 90</th>
          </tr>
          <tr>
            <th>respuesta 1</th>
            <th>respuesta 2</th>
            <th>respuesta 3</th>
            <th>respuesta 4</th>
            <th>respuesta 5</th>
            <th>respuesta 6</th>
            <th>respuesta 7</th>
            <th>respuesta 8</th>
            <th>respuesta 9</th>
            <th>respuesta 10</th>
            <th>respuesta 11</th>
            <th>respuesta 12</th>
            <th>respuesta 13</th>
            <th>respuesta 14</th>
            <th>respuesta 15</th>
            <th>respuesta 16</th>
            <th>respuesta 17</th>
            <th>respuesta 18</th>
            <th>respuesta 19</th>
            <th>respuesta 20</th>
            <th>respuesta 21</th>
            <th>respuesta 22</th>
            <th>respuesta 23</th>
            <th>respuesta 24</th>
            <th>respuesta 25</th>
            <th>respuesta 26</th>
            <th>respuesta 27</th>
            <th>respuesta 28</th>
            <th>respuesta 29</th>
            <th>respuesta 30</th>
            <th>respuesta 31</th>
            <th>respuesta 32</th>
            <th>respuesta 33</th>
            <th>respuesta 34</th>
            <th>respuesta 35</th>
            <th>respuesta 36</th>
            <th>respuesta 37</th>
            <th>respuesta 38</th>
            <th>respuesta 39</th>
            <th>respuesta 40</th>
            <th>respuesta 41</th>
            <th>respuesta 42</th>
            <th>respuesta 43</th>
            <th>respuesta 44</th>
            <th>respuesta 45</th>
            <th>respuesta 46</th>
            <th>respuesta 47</th>
            <th>respuesta 48</th>
            <th>respuesta 49</th>
            <th>respuesta 50</th>
            <th>respuesta 51</th>
            <th>respuesta 52</th>
            <th>respuesta 53</th>
            <th>respuesta 54</th>
            <th>respuesta 55</th>
            <th>respuesta 56</th>
            <th>respuesta 57</th>
            <th>respuesta 58</th>
            <th>respuesta 59</th>
            <th>respuesta 60</th>
            <th>respuesta 61</th>
            <th>respuesta 62</th>
            <th>respuesta 63</th>
            <th>respuesta 64</th>
            <th>respuesta 65</th>
            <th>respuesta 66</th>
            <th>respuesta 67</th>
            <th>respuesta 68</th>
            <th>respuesta 69</th>
            <th>respuesta 70</th>
            <th>respuesta 71</th>
            <th>respuesta 72</th>
            <th>respuesta 73</th>
            <th>respuesta 74</th>
            <th>respuesta 75</th>
            <th>respuesta 76</th>
            <th>respuesta 77</th>
            <th>respuesta 78</th>
            <th>respuesta 79</th>
            <th>respuesta 80</th>
            <th>respuesta 81</th>
            <th>respuesta 82</th>
            <th>respuesta 83</th>
            <th>respuesta 84</th>
            <th>respuesta 85</th>
            <th>respuesta 86</th>
            <th>respuesta 87</th>
            <th>respuesta 88</th>
            <th>respuesta 89</th>
            <th>respuesta 90</th>
          </tr>
          <tr>
            <th>respuesta 1</th>
            <th>respuesta 2</th>
            <th>respuesta 3</th>
            <th>respuesta 4</th>
            <th>respuesta 5</th>
            <th>respuesta 6</th>
            <th>respuesta 7</th>
            <th>respuesta 8</th>
            <th>respuesta 9</th>
            <th>respuesta 10</th>
            <th>respuesta 11</th>
            <th>respuesta 12</th>
            <th>respuesta 13</th>
            <th>respuesta 14</th>
            <th>respuesta 15</th>
            <th>respuesta 16</th>
            <th>respuesta 17</th>
            <th>respuesta 18</th>
            <th>respuesta 19</th>
            <th>respuesta 20</th>
            <th>respuesta 21</th>
            <th>respuesta 22</th>
            <th>respuesta 23</th>
            <th>respuesta 24</th>
            <th>respuesta 25</th>
            <th>respuesta 26</th>
            <th>respuesta 27</th>
            <th>respuesta 28</th>
            <th>respuesta 29</th>
            <th>respuesta 30</th>
            <th>respuesta 31</th>
            <th>respuesta 32</th>
            <th>respuesta 33</th>
            <th>respuesta 34</th>
            <th>respuesta 35</th>
            <th>respuesta 36</th>
            <th>respuesta 37</th>
            <th>respuesta 38</th>
            <th>respuesta 39</th>
            <th>respuesta 40</th>
            <th>respuesta 41</th>
            <th>respuesta 42</th>
            <th>respuesta 43</th>
            <th>respuesta 44</th>
            <th>respuesta 45</th>
            <th>respuesta 46</th>
            <th>respuesta 47</th>
            <th>respuesta 48</th>
            <th>respuesta 49</th>
            <th>respuesta 50</th>
            <th>respuesta 51</th>
            <th>respuesta 52</th>
            <th>respuesta 53</th>
            <th>respuesta 54</th>
            <th>respuesta 55</th>
            <th>respuesta 56</th>
            <th>respuesta 57</th>
            <th>respuesta 58</th>
            <th>respuesta 59</th>
            <th>respuesta 60</th>
            <th>respuesta 61</th>
            <th>respuesta 62</th>
            <th>respuesta 63</th>
            <th>respuesta 64</th>
            <th>respuesta 65</th>
            <th>respuesta 66</th>
            <th>respuesta 67</th>
            <th>respuesta 68</th>
            <th>respuesta 69</th>
            <th>respuesta 70</th>
            <th>respuesta 71</th>
            <th>respuesta 72</th>
            <th>respuesta 73</th>
            <th>respuesta 74</th>
            <th>respuesta 75</th>
            <th>respuesta 76</th>
            <th>respuesta 77</th>
            <th>respuesta 78</th>
            <th>respuesta 79</th>
            <th>respuesta 80</th>
            <th>respuesta 81</th>
            <th>respuesta 82</th>
            <th>respuesta 83</th>
            <th>respuesta 84</th>
            <th>respuesta 85</th>
            <th>respuesta 86</th>
            <th>respuesta 87</th>
            <th>respuesta 88</th>
            <th>respuesta 89</th>
            <th>respuesta 90</th>
          </tr>
          <tr>
            <th>respuesta 1</th>
            <th>respuesta 2</th>
            <th>respuesta 3</th>
            <th>respuesta 4</th>
            <th>respuesta 5</th>
            <th>respuesta 6</th>
            <th>respuesta 7</th>
            <th>respuesta 8</th>
            <th>respuesta 9</th>
            <th>respuesta 10</th>
            <th>respuesta 11</th>
            <th>respuesta 12</th>
            <th>respuesta 13</th>
            <th>respuesta 14</th>
            <th>respuesta 15</th>
            <th>respuesta 16</th>
            <th>respuesta 17</th>
            <th>respuesta 18</th>
            <th>respuesta 19</th>
            <th>respuesta 20</th>
            <th>respuesta 21</th>
            <th>respuesta 22</th>
            <th>respuesta 23</th>
            <th>respuesta 24</th>
            <th>respuesta 25</th>
            <th>respuesta 26</th>
            <th>respuesta 27</th>
            <th>respuesta 28</th>
            <th>respuesta 29</th>
            <th>respuesta 30</th>
            <th>respuesta 31</th>
            <th>respuesta 32</th>
            <th>respuesta 33</th>
            <th>respuesta 34</th>
            <th>respuesta 35</th>
            <th>respuesta 36</th>
            <th>respuesta 37</th>
            <th>respuesta 38</th>
            <th>respuesta 39</th>
            <th>respuesta 40</th>
            <th>respuesta 41</th>
            <th>respuesta 42</th>
            <th>respuesta 43</th>
            <th>respuesta 44</th>
            <th>respuesta 45</th>
            <th>respuesta 46</th>
            <th>respuesta 47</th>
            <th>respuesta 48</th>
            <th>respuesta 49</th>
            <th>respuesta 50</th>
            <th>respuesta 51</th>
            <th>respuesta 52</th>
            <th>respuesta 53</th>
            <th>respuesta 54</th>
            <th>respuesta 55</th>
            <th>respuesta 56</th>
            <th>respuesta 57</th>
            <th>respuesta 58</th>
            <th>respuesta 59</th>
            <th>respuesta 60</th>
            <th>respuesta 61</th>
            <th>respuesta 62</th>
            <th>respuesta 63</th>
            <th>respuesta 64</th>
            <th>respuesta 65</th>
            <th>respuesta 66</th>
            <th>respuesta 67</th>
            <th>respuesta 68</th>
            <th>respuesta 69</th>
            <th>respuesta 70</th>
            <th>respuesta 71</th>
            <th>respuesta 72</th>
            <th>respuesta 73</th>
            <th>respuesta 74</th>
            <th>respuesta 75</th>
            <th>respuesta 76</th>
            <th>respuesta 77</th>
            <th>respuesta 78</th>
            <th>respuesta 79</th>
            <th>respuesta 80</th>
            <th>respuesta 81</th>
            <th>respuesta 82</th>
            <th>respuesta 83</th>
            <th>respuesta 84</th>
            <th>respuesta 85</th>
            <th>respuesta 86</th>
            <th>respuesta 87</th>
            <th>respuesta 88</th>
            <th>respuesta 89</th>
            <th>respuesta 90</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>