.scroll {
    overflow: auto;
    max-height: 50vh; 
    padding-top: 0;
}
.card-panel {
    padding-bottom: 0px !important;
}
.picker__holder {
    position: initial;
}
.picker__box {
    display: inline-block !important;
    box-shadow: 0 !important;
}
.title {
    padding: 1px 20px;
    border-radius: 0 0 2px 2px;
}
input[type="text"]{
    height: 2rem !important;
}