.scroll {
    overflow: auto;
    max-height: 50vh; 
    padding-top: 0;
}
.card-panel {
    padding-bottom: 0px !important;
}
select {
    border-radius: 5px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.picker__holder {
    position: initial;
}
.picker__box {
    display: inline-block !important;
    box-shadow: 0 !important;
}