<main class="container">
  <div class="row">
    <div class="col s12">
      <!-- Gráfico Claro -->
      <div class="card hoverable">
        <div class="card-content red darken-4">
          <img src="../../../assets/images/Claro_logo.png" alt="" class="img-responsive logo-empresa">
          <h5 class="white-text center">Creación de Formularios</h5>
          <canvas id="claro" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="card-content hide">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
      <!-- Gráfico Entel -->
      <div class="card hoverable">
        <div class="card-content light-blue darken-4">
          <div class="col s12">
            <img src="../../../assets/images/Entel_logo.png" alt="" class="img-responsive logo-empresa">
            <h5 class="white-text center">Creación de Formularios</h5>
          </div>
          <canvas id="entel" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="card-content hide">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 l4 hide">
      <ul class="collection with-header card-panel no-padding hoverable">
        <li class="collection-header"><h5><i class="material-icons md-36 left">account_circle</i>Usuarios</h5></li>
        <li *ngFor="let usuario of usuarios" class="collection-item hover">{{usuario.nombre}}<a [routerLink]="['/dashboard', usuario.id, 'reportes']" class="secondary-content"><i class="material-icons light-blue-text text-darken-4">library_books</i></a></li>
      </ul>
    </div>
  </div>
</main>