<div class="row hide-on-med-and-down"></div>
<div class="row hide-on-med-and-down"></div>
<div class="row"></div>
<div class="row">
  <div class="col l4 offset-l4">
    <div class="card-panel no-margin light-blue darken-4 title">
      <h5 class="white-text">Descargar Imágenes</h5>
    </div>
    <div class="card-panel no-margin">
      <div class="row">
        <h6><strong>Rango de Fecha</strong></h6><br>
        <div class="col s12 l6">
          <label>Inicio</label>
          <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
        </div>
        <div class="col s12 l6">
          <label>Fin</label>
          <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
        </div>
      </div>
      <div class="center">
        <a class="btn light-blue darken-4">Descargar</a>
      </div>
    </div>
  </div>
</div>
<div class="row hide-on-med-and-down"></div>
<div class="row hide-on-med-and-down"></div>
<div class="row hide-on-med-and-down"></div>