.title {
    padding: 1px 24px;
    border-radius: 0 0 2px 2px;
}
.picker__date-display {
    background-color: #01579b !important;
}

tr.hover{
    transition: 500ms;
}

tr.hover:hover{
    background-color: lightgrey !important;
}