<ngx-spinner bdColor = "rgba(14,14,14,0.8)" size = "large" color = "#fff" type = "pacman"></ngx-spinner>
<div class="row hide-on-med-and-down"></div>
<div class="row hide-on-med-and-down"></div>
<div class="row"></div>
<div class="row">
  <div class="col s12 l6 offset-l3">
    <div class="card-panel no-margin servicorp-primary-color title">
      <h5 class="white-text">Descargar Imágenes (Claro)</h5>
    </div>
    <div class="card-panel no-margin">
      <div class="row">
        <table>
          <thead>
            <tr>
                <th>Empresa</th>
                <th>Fecha de Creación</th>
                <th></th>
            </tr>
          </thead>
  
          <tbody>
            <tr class="hover" *ngFor="let file of files">
              <td *ngIf="(file.nombre_archivo | slice:0:5) == 'claro'">{{file.nombre_archivo | uppercase | slice:0:5}}</td>
              <td *ngIf="(file.nombre_archivo | slice:0:5) == 'claro'">{{file.fecha_creacion | date: 'short'}}</td>
              <th *ngIf="(file.nombre_archivo | slice:0:5) == 'claro'" class="right"><a href="http://genesis.xpass.cl:3001/zips/{{file.nombre_archivo}}" class="btn green accent-4"><i class="material-icons">archive</i></a></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="col s12 l6 offset-l3">
    <div class="card-panel no-margin servicorp-primary-color title">
      <h5 class="white-text">Descargar Imágenes (Entel)</h5>
    </div>
    <div class="card-panel no-margin">
      <div class="row">
        <table>
          <thead>
            <tr>
                <th>Empresa</th>
                <th>Fecha de Creación</th>
                <th></th>
            </tr>
          </thead>
  
          <tbody>
            <tr class="hover" *ngFor="let file of files">
              <td *ngIf="(file.nombre_archivo | slice:0:5) == 'entel'">{{file.nombre_archivo | uppercase | slice:0:5}}</td>
              <td *ngIf="(file.nombre_archivo | slice:0:5) == 'entel'">{{file.fecha_creacion | date: 'short'}}</td>
              <th *ngIf="(file.nombre_archivo | slice:0:5) == 'entel'" class="right"><a href="http://genesis.xpass.cl:3001/zips/{{file.nombre_archivo}}" class="btn green accent-4"><i class="material-icons">archive</i></a></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row hide">
  <div class="col l4 offset-l4">
    <div class="card-panel no-margin servicorp-primary-color title">
      <h5 class="white-text">Descargar Imágenes</h5>
    </div>
    <div class="card-panel no-margin">
      <div class="row">
        <div class="input-field col l12">
          <h6><strong>Empresa: </strong></h6>
          <select materialize="material_select" class="white">
            <option disabled>Seleccionar</option>
            <option value="Claro">Claro</option>
            <option value="Entel">Entel</option>
          </select>
        </div>
        <div class="input-field col l12">
          <h6><strong>Rango de Fecha:</strong></h6>
        </div>
        <div class="input-field col l6">
          <label>Inicio</label>
          <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
        </div>
        <div class="input-field col l6">
          <label>Fin</label>
          <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
        </div>
      </div>
      <div class="center">
        <a class="btn servicorp-primary-color">Descargar</a>
      </div>
    </div>
  </div>
</div>
<div class="row hide-on-med-and-down"></div>
<div class="row hide-on-med-and-down"></div>
<div class="row hide-on-med-and-down"></div>