/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.select-wrapper input.select-dropdown{
    max-height: 2rem !important;
}
* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    position: relative;
}
app-root {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 40px; /* height of your footer */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container {
    width: 75%;
}
.hover:hover {
    background-color: rgba(26, 18, 18, 0.1);
}
.no-padding  {
    padding: auto 0;
}
.no-margin{
    margin: 0!important;
}
label{
    color: #000!important;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #5a5a5a;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #5a5a5a;
}
input:not([type="submit"]), input.valid{
    box-shadow: 0 0 0 0 !important;
    border-bottom: 1px solid #5a5a5a !important;
}
input.invalid{
    border-bottom: 1px solid red !important;
}
.claro-color{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.entel-color{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.servicorp-primary-color, .picker__date-display, .picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover{
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.picker__day.picker__day--today, .picker__clear, .picker__close, .picker__today{
    color: #1e3c72;
}