<div class="row">
    <div class="col s12 l4 offset-l4 card-panel hoverable animated bounceInLeft title servicorp-primary-color">
        <h5 class="white-text">Crear nuevo usuario</h5>
    </div>
    <form [formGroup]="createUserForm" (ngSubmit)="crearUsuario()" class="col s12 l4 offset-l4 card-panel hoverable animated bounceInLeft" materialize>
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="nombre" id="nombre" type="text" class="validate" required="true" autofocus>
                <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s6">
                <input formControlName="apellido" id="apellido" type="text" class="validate" required="true">
                <label for="apellido">Apellido</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="username" id="username" type="text" class="validate" required="true">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row no-margin">
            <div class="input-field col s12">
                <input formControlName="password" id="password" type="password" class="validate" required="true">
                <label for="password">Contraseña</label>
            </div>
        </div>
        <div class="row">
            <h6 class="col s12">Tipo de usuario</h6>
            <div class="row"></div>
            <label class="col s4">
                <input formControlName="tipo_usuario" id="tipo-usuario-1" class="with-gap" name="tipo_usuario" type="radio" value="Administrador" required="true"/>
                <label for="tipo-usuario-1">Admin</label>
            </label>
            <label class="col s4">
                <input formControlName="tipo_usuario" id="tipo-usuario-2" class="with-gap" name="tipo_usuario" type="radio" value="Operario" required="true"/>
                <label for="tipo-usuario-2">Certificador</label>
            </label>
        </div>
        <div class="row">
            <h6 class="col s12">Empresa</h6>
            <div class="row"></div>
            <label class="col s4">
                <input formControlName="empresa" id="empresa-1" class="with-gap" name="empresa" type="radio" value="Claro" required="true"/>
                <label for="empresa-1">Claro</label>
            </label>
            <label class="col s4">
                <input formControlName="empresa" id="empresa-2" class="with-gap" name="empresa" type="radio" value="Entel" required="true"/>
                <label for="empresa-2">Entel</label>
            </label>
        </div>
        <div class="row">
            <input type="submit" class="btn servicorp-primary-color black-text waves-effect waves-light col s12 white-text" value="Crear Usuario">
        </div>
    </form>
</div>