<div class="row"></div>
<div class="row">
  <div [formGroup]="reportes" class="col l6 offset-l3">
    <div class="card-panel no-margin servicorp-primary-color title">
      <h5 class="white-text">Generar Reporte</h5>
    </div>
    <div class="card-panel no-margin">
      <div class="row">
        <div class="input-field col l12">
          <h6><strong>Rango de Fecha</strong></h6>
        </div>
        <div class="col s12 l6">
          <label>Inicio</label>
          <!-- <input formControlName="fechaInicio" 
                  type="text" class="datepicker" 
                  materialize="pickadate"
                  [materializeParams]="[{
                    closeOnSelect: false, 
                    selectMonths: true,
                    format: 'dd/mm/yyyy', 
                    firstDay: 1, 
                    selectYears: 2,
                    today: 'Hoy',
                    clear: 'Borrar',
                    max: 'today',
                    min: mesAtras,
                    monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Miér', 'Jue', 'Vie', 'Sab'],
                    weekdaysAbbrev: ['D','L','M','I','J','V','S']
                  }]">  --> 
          <input type="date" formControlName="fechaInicio">
        </div>
        <div class="col s12 l6">
          <label>Fin</label>
          <!-- <input formControlName="fechaFin" 
                  type="text" 
                  class="datepicker" 
                  materialize="pickadate"
                  [materializeParams]="[{
                    closeOnSelect: false, 
                    selectMonths: true,
                    format: 'dd/mm/yyyy', 
                    firstDay: 1, 
                    selectYears: 2,
                    today: 'Hoy',
                    clear: 'Borrar',
                    max: 'today',
                    min: mesAtras,
                    monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    weekdaysShort: ['Dom', 'Lun', 'Mar', 'Miér', 'Jue', 'Vie', 'Sab'],
                    weekdaysAbbrev: ['D','L','M','I','J','V','S']
                  }]"> -->
          <input type="date" formControlName="fechaFin">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6">
          <h6><strong>Empresa: </strong></h6>
          <select class="browser-default" formControlName="empresa">
            <option disabled>Seleccionar</option>
            <option value="Claro">Claro</option>
            <option value="Entel">Entel</option>
          </select>
        </div>
        <div class="input-field col s12 l6" *ngIf="reportes.value.empresa == ''">
          <h6><strong>Categoría: </strong></h6>
          <select formControlName="categoria" class="browser-default">
            <option value="" disabled>Seleccione empresa</option>
          </select>
        </div>
        <div class="input-field col s12 l6" *ngIf="reportes.value.empresa == 'Claro'">
          <h6><strong>Categoría: </strong></h6>
          <select formControlName="categoria" class="browser-default" multiple>
            <option disabled>Seleccionar</option>
            <option value="1">Instalación HFC</option>
            <option value="2">Instalación DTH</option>
            <option value="3">Mantención HFC</option>
            <option value="4">Mantención DTH</option>
            <option value="5">Desconexión</option>
          </select>
        </div>
        <div class="input-field col s12 l6" *ngIf="reportes.value.empresa == 'Entel'">
          <h6><strong>Categoría: </strong></h6>
          <select formControlName="categoria" class="browser-default" multiple>
            <option disabled>Seleccionar</option>
            <option value="6">Instalación DTH</option>
            <option value="7">BAFI</option>
            <option value="8">DUO</option>
          </select>
        </div>
      </div>
      <div class="center">
        <a class="btn servicorp-primary-color" (click)="getReporte()">Descargar</a>
      </div>
    </div>
  </div>
</div>