<div class="row"></div>
<div class="row">
  <div class="col l6 offset-l3">
    <div class="card-panel no-margin light-blue darken-4 title">
      <h5 class="white-text">Generar Reporte</h5>
    </div>
    <div class="card-panel no-margin">
      <div class="row">
        <h6><strong>Rango de Fecha</strong></h6><br>
        <div class="col s12 l6">
          <label>Inicio</label>
          <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
        </div>
        <div class="col s12 l6">
          <label>Fin</label>
          <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6">
          <h6><strong>Empresa: </strong></h6>
          <select materialize="material_select" [materializeSelectOptions]="empresa" class="white">
            <option disabled>Seleccionar</option>
            <option [value]="empresa">Claro</option>
            <option [value]="empresa">Entel</option>
          </select>
        </div>
        <div class="input-field col s12 l6">
          <h6><strong>Categoría: </strong></h6>
          <select materialize="material_select" [materializeSelectOptions]="categorias" class="white" multiple>
            <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
          </select>
        </div>
      </div>
      <div class="center">
        <a class="btn light-blue darken-4">{{empresa}}</a>
      </div>
    </div>
  </div>
</div>