<main class="container row">
  <div class="col l10">
    <div class="card">
      <div class="card-content servicorp-primary-color title">
        <h5 class="white-text ">Listado de Usuarios</h5>
      </div>
      <div class="card-content">
        <table class="striped">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Instalación HFC (Claro)</th>
                <th>Instalación DTH (Claro)</th>
                <th>Mantención HFC (Claro)</th>
                <th>Mantención DTH (Claro)</th>
                <th>Desconexión (Claro)</th>
                <th>Mantención DTH (Entel)</th>
                <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | filter:filter.nombre | filter:filter.fechaInicio | filter:filter.fechaFin">
              <td>{{user.nombre}}</td>
              <!-- <td routerLink="/dashboard/18/reportes">{{user.nombre}}</td> -->
              <td>{{user.cantidad.instalacionHfc}}</td>
              <td>{{user.cantidad.instalacionDth}}</td>
              <td>{{user.cantidad.mantencionHfc}}</td>
              <td>{{user.cantidad.mantencionDth}}</td>
              <td>{{user.cantidad.desconexion}}</td>
              <td>{{user.cantidad.instalacionDthEntel}}</td>
              <td>{{user.cantidad.total}}</td>
              <!-- <td routerLink="/dashboard/18/reportes">{{user.cantidad.total}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col l2">
    <div class="card">
      <form [formGroup]="filterForm">
        <div class="card-content servicorp-primary-color title">
          <h5 class="white-text">Filtros</h5>
        </div>
        <div class="card-content">
          <p class="hide"><strong>Rango de Fecha</strong></p><br>
          <div class="row hide">
            <div class="col s12">
              <label>Inicio</label>
              <input formControlName="fechaInicio" type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
            </div>
            <div class="col s12">
              <label>Fin</label>
              <input formControlName="fechaFin" type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
            </div>
          </div>
          <p><strong>Nombre</strong></p>
          <div class="input-field">
            <input formControlName="nombre" type="text">
          </div>
        </div>
      </form>
      <div class="row center">
        <a class="btn servicorp-primary-color" (click)="setFilters()">Filtrar</a>
      </div>
      <div class="row"></div>
    </div>
  </div>
</main>