<main class="container row">
  <div class="col l10">
    <div class="card">
      <div class="card-content light-blue darken-4 title">
        <h5 class="white-text ">Listado de Usuarios</h5>
      </div>
      <div class="card-content">
        <table class="striped">
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Instalación HFC (Claro)</th>
                <th>Instalación DTH (Claro)</th>
                <th>Mantención HFC (Claro)</th>
                <th>Mantención DTH (Claro)</th>
                <th>Desconexión (Claro)</th>
                <th>Mantención DTH (Entel)</th>
                <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td routerLink="/dashboard/18/reportes">Pepito</td>
              <td>321</td>
              <td>321</td>
              <td>321</td>
              <td>321</td>
              <td>321</td>
              <td>321</td>
              <td routerLink="/dashboard/18/reportes">321</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col l2">
    <div class="card">
      <div class="card-content light-blue darken-4 title">
        <h5 class="white-text">Filtros</h5>
      </div>
      <div class="card-content">
        <p><strong>Rango de Fecha</strong></p><br>
        <div class="row">
          <div class="col s12">
            <label>Inicio</label>
            <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
          </div>
          <div class="col s12">
            <label>Fin</label>
            <input type="text" class="datepicker" materialize="pickadate" [materializeParams]="[{today: 'Hoy', clear: 'Borrar', close: 'Ok', closeOnSelect: true}]">
          </div>
        </div>
        <p><strong>Nombre</strong></p>
        <div class="input-field">
          <input type="text">
        </div>
      </div>
    </div>
  </div>
</main>