<main class="container row">
  <div class="col l9">
    <div class="card">
      <div class="card-content servicorp-primary-color title">
        <h5 class="white-text ">Listado de Usuarios Claro</h5>
      </div>
      <div class="card-content no-padding">
        <table class="claro striped bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Instalación HFC</th>
              <th>Instalación DTH</th>
              <th>Mantención HFC</th>
              <th>Mantención DTH</th>
              <th>Desconexión</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users.claro | filter:filter.nombre">
              <td>{{user.nombre}}</td>
              <td>{{user.cantidad.instalacionHfc}}</td>
              <td>{{user.cantidad.instalacionDth}}</td>
              <td>{{user.cantidad.mantencionHfc}}</td>
              <td>{{user.cantidad.mantencionDth}}</td>
              <td>{{user.cantidad.desconexion}}</td>
              <td>{{user.cantidad.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-content servicorp-primary-color title">
        <h5 class="white-text ">Listado de Usuarios Entel</h5>
      </div>
      <div class="card-content no-padding">
        <table class="entel striped bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Instalación DTH</th>
              <th>BAFI</th>
              <th>DUO</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users.entel | filter:filter.nombre">
              <td>{{user.nombre}}</td>
              <td>{{user.cantidad.instalacionDthEntel}}</td>
              <td>{{user.cantidad.BAFIEntel}}</td>
              <td>{{user.cantidad.DUOEntel}}</td>
              <td>{{user.cantidad.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col l3 s12">
    <div class="card">
      <form [formGroup]="filterForm">
        <div class="card-content servicorp-primary-color title">
          <h5 class="white-text">Filtros</h5>
        </div>
        <div class="card-content">
          <p><strong>Nombre</strong></p>
          <div class="input-field">
            <input formControlName="nombre" type="text">
          </div>
          <p class=""><strong>Rango de Fecha</strong></p><br>
          <div class="row ">
            <div class="col s12">
              <label>Inicio</label>
              <!-- <input formControlName="fechaInicio" 
                      type="text" 
                      class="datepicker" 
                      materialize="pickadate"
                      [materializeParams]="[{
                        closeOnSelect: false, 
                        selectMonths: true,
                        format: 'dd/mm/yyyy', 
                        firstDay: 1, 
                        selectYears: 2,
                        today: 'Hoy',
                        clear: 'Borrar',
                        max: 'today',
                        min: mesAtras,
                        monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                        weekdaysShort: ['Dom', 'Lun', 'Mar', 'Miér', 'Jue', 'Vie', 'Sab'],
                        weekdaysAbbrev: ['D','L','M','I','J','V','S']
                      }]">  -->
              <input type="date" formControlName="fechaInicio">
            </div>
            <div class="col s12">
              <label>Fin</label>
              <!-- <input formControlName="fechaInicio" 
                      type="text" 
                      class="datepicker" 
                      materialize="pickadate"
                      [materializeParams]="[{
                        closeOnSelect: false, 
                        selectMonths: true,
                        format: 'dd/mm/yyyy', 
                        firstDay: 1, 
                        selectYears: 2,
                        today: 'Hoy',
                        clear: 'Borrar',
                        max: 'today',
                        min: mesAtras,
                        monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                        weekdaysShort: ['Dom', 'Lun', 'Mar', 'Miér', 'Jue', 'Vie', 'Sab'],
                        weekdaysAbbrev: ['D','L','M','I','J','V','S']
                      }]"> --> 
              <input type="date" formControlName="fechaFin">
            </div>
          </div>
          <div class="row center">
            <a class="btn servicorp-primary-color" (click)="setFilters()">Filtrar</a>
          </div>
        </div>
      </form>
      <div class="row hide"></div>
    </div>
  </div>
</main>